*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
}
#root{
    padding: 5px 10px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: all .2s;
}

a:hover{
    color: blue;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 20px 0 20px;
}

.main{
    margin-left: 50px;
}