/* .container{
    max-width: 1200px;
    margin: 0 auto;
} */

.signup-wrapper{    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.signup-form{
    border: 2px solid blue;
    width: 320px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.signup-input{
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.signup-button__box{
    margin-bottom: 10px;
}

.signup-button{
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    transition: all .2s;
}
.signup-button:hover{
    color: blue;
}
