.header{
    &-items{
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    &-link{
        text-align: center;
        max-width: 200px;
        margin-bottom: 10px;
        padding: 5px 10px;
        &:hover{
            color: #fff;
            border-radius: 15px;
            background-color: blue;
        }
    }
    &-button{
        max-width: 220px;
        padding: 5px 10px;
        border: none;
        background-color: transparent;
        font-size: 18px;
        transition: all .2s;
        cursor: pointer;
        &:hover{
            color: #fff;
            border-radius: 15px;
            background-color: blue;
        }
    }
}
